# Core frameworks
streamlit
opencv-python-headless
torch
torchvision
ultralytics

# CLIP (OpenAI)
git+https://github.com/openai/CLIP.git

# Machine Learning Utilities
scikit-learn
faiss-cpu
sentence-transformers
numpy
Pillow

# LangChain & LLM integrations
langchain
langchain-community
langchain_core
openai

# Optional utilities
requests
tqdm
